################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringDemo/.vs/StringDemo/FileContentIndex
